
*.pyc
balanza.png
Balanza.svg
Blop.wav
bolsa.png
candy.png
candy.svg
cookbook.py
cramer.py
Finger.svg
firstFunction.py
firstManim.py
matrix_multiplication.py
media_dir.txt
mult25.py
pruebasNumpy.py
pruebasPython.py
Recolocate2.py
